/* NO classes or IDs */
/* Please Make only World and Zebra Blue */
section > h2 {
  color: papayawhip;
}
/* Please Make only Zebra Purple */

section > h2 + h2 {
  color: lavender;
}
/* Please Make only Hufflepuff Gold */

section > article > h2 + h2 {
  color: lavender;
}

/* Please keep Hufflepuff Gold and make ONLY Unicorn Gray  */
section > article > h2 {
  color: blue;
}
