* {
  box-sizing: border-box;
}

header,
footer {
  border: 1px solid black;

  clear: both;
}

header {
  height: 100px;
}

section {
  height: 500px;
  float: left;

  border: 1px solid blanchedalmond;
  width: 25%;
}

footer {
  height: 100px;
}

@media screen and (max-width: 500px) {
  section {
    width: 100%;
    background-color: khaki;
  }
}
