/* Please Make only Rhino and Zebra Blue */
.top > #rhino,
#zebra {
  color: rgb(101, 189, 174);
}
/* Please Make only Hufflepuff Gold */

section > article > #bestHouse {
  color: greenyellow;
}

/* Please select Duck with the highest level of specificity possible */

body
  > h1#hi
  + section.top
  + section.middle
  + article.areDucksDinosaurs
  > h2.likesToQuack.fight1Or100 {
  color: blanchedalmond !important;
}
/* Please select Rhino with the highest level of specificity possible */

body > h1#hi + section.top > h2#rhino,
h2.africa,
h2.fourLegs {
  color: indianred !important;
}
