/* <li>Please make the h1 30px, with a little padding on the left, and thin red border</li>
			<li>Please make the h2 25px, with padding on top/bottom, a thick gold border, and margin on the top/bottom</li>
			<li>Please make the spans have a thin black border, a little padding, and blue</li>
			<li>Please make the section 25% width, 200px tall, centered, and with a thin purple border</li> */

h1 {
  font-size: 30px;
  padding-left: 1px;
  border: 1px solid black;
}

h2 {
  font-size: 25px;
  padding: 1px 0;
  border: 1px solid gold;
  margin-top: 1px;

  margin-bottom: 1px;
}

span {
  border: 1px black solid;
  padding: 1px;
  color: blue;
}

section {
  width: 25%;
  height: 200px;
  text-align: center;
  border: 1px solid black;
}
